In [ ]:
import pymysql
from configparser import ConfigParser

config = ConfigParser()
config.read('../Chapter1/config.ini')

connection = pymysql.connect(
    host=config.get('DB', 'host'),
    user=config.get('DB', 'user'),
    password=config.get('DB', 'password'),
    port=config.getint('DB', 'port'),
    cursorclass=pymysql.cursors.DictCursor,
)

print(connection.open)

建立資料庫

In [ ]:
with connection.cursor() as cursor:
    sql = """
        CREATE DATABASE IF NOT EXISTS chapter2;
    """
    # 執行建立的 SQL 語句
    cursor.execute(sql)
    # 執行查看資料庫
    cursor.execute("SHOW DATABASES;")
    result = cursor.fetchall()

print(result)

In [ ]:
with connection.cursor() as cursor:
    sql = """
        DROP DATABASE IF EXISTS test_db;
    """
    cursor.execute(sql)
    cursor.execute("SHOW DATABASES;")
    result = cursor.fetchall()

print(result)

建立資料表

In [ ]:
connection = pymysql.connect(
    host=config.get('DB', 'host'),
    user=config.get('DB', 'user'),
    password=config.get('DB', 'password'),
    port=config.getint('DB', 'port'),
    cursorclass=pymysql.cursors.DictCursor,
    db='chapter2',
)

with connection.cursor() as cursor:
    sql = """
        CREATE TABLE IF NOT EXISTS users (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255) NOT NULL,
            age INT NOT NULL,
            username VARCHAR(255) NOT NULL,
            password VARCHAR(255) NOT NULL
        );
    """
    cursor.execute(sql)
    cursor.execute("SHOW TABLES;")
    result = cursor.fetchall()

print(result)

In [ ]:
from pprint import pprint
with connection.cursor() as cursor:
    sql = """
        INSERT INTO users (name, age, username, password)
        VALUES ("Jarvis", 25, "jarvis", "123456")
    """
    # 執行寫入的 SQL 語句
    cursor.execute(sql)
    # 執行查詢資料表
    cursor.execute("SELECT * FROM users;")
    # 取得查詢的所有資料
    result = cursor.fetchall()

pprint(result)

In [ ]:
from pprint import pprint
with connection.cursor() as cursor:
    sql = """
        INSERT INTO users (name, age, username, password)
        VALUES ("Jarvis", 25, "jarvis", "123456")
    """
    cursor.execute(sql)
    # 提交資料庫的變更
    connection.commit()
    cursor.execute("SELECT * FROM users;")
    result = cursor.fetchall()
pprint(result)

更新資料

In [ ]:
with connection.cursor() as cursor:
    sql = """
        UPDATE users SET age = 26, name = "Jarvis Lu" WHERE id = 1;
    """
    cursor.execute(sql)
    connection.commit()
    cursor.execute("SELECT * FROM users;")
    result = cursor.fetchall()
pprint(result)

In [ ]:
with connection.cursor() as cursor:
    sql = """
        SELECT * FROM users;
    """
    cursor.execute(sql)
    result = cursor.fetchall()
print(result)

刪除資料表

In [ ]:
with connection.cursor() as cursor:
    sql = """
        DROP TABLE IF EXISTS users;
    """
    cursor.execute(sql)
    cursor.execute("SHOW TABLES;")
    result = cursor.fetchall()

print(result)