In [1]:
import pymysql
from configparser import ConfigParser
# 讀取 .env 檔案取得資料庫連線資訊
config = ConfigParser()
config.read('../Chapter1/config.ini')

connection = pymysql.connect(
    host=config.get('DB', 'host'),
    user=config.get('DB', 'user'),
    password=config.get('DB', 'password'),
    port=config.getint('DB', 'port'),
    database="test_db",
    cursorclass=pymysql.cursors.DictCursor,
)

In [2]:
import random
with connection.cursor() as cursor:
    sql = """
        INSERT INTO users (name, age, username, password)
        VALUES ("Jarvis", 25, "jarvis", "123456")
    """
    cursor.execute(sql)
    print(cursor.rowcount) # 取得影響的行數

    cursor.execute("SELECT * FROM users")
    result = cursor.fetchall()
    for row in result:
        print(row)

    # connection.commit() # 提交資料庫變更

{'id': 1, 'name': 'John Doe', 'age': 30, 'username': 'test_user', 'password': 'test_password'}
{'id': 2, 'name': 'user_0', 'age': 35, 'username': 'user_0', 'password': 'password_4694'}
{'id': 3, 'name': 'user_1', 'age': 57, 'username': 'user_1', 'password': 'password_2948'}
{'id': 4, 'name': 'user_2', 'age': 31, 'username': 'user_2', 'password': 'password_2575'}
{'id': 5, 'name': 'user_3', 'age': 22, 'username': 'user_3', 'password': 'password_5223'}
{'id': 6, 'name': 'user_4', 'age': 48, 'username': 'user_4', 'password': 'password_5346'}
{'id': 7, 'name': 'user_5', 'age': 61, 'username': 'user_5', 'password': 'password_3819'}
{'id': 8, 'name': 'user_6', 'age': 29, 'username': 'user_6', 'password': 'password_7253'}
{'id': 9, 'name': 'user_7', 'age': 21, 'username': 'user_7', 'password': 'password_4425'}
{'id': 10, 'name': 'user_8', 'age': 63, 'username': 'user_8', 'password': 'password_5378'}
{'id': 11, 'name': 'user_9', 'age': 29, 'username': 'user_9', 'password': 'password_8620'}
{'id': 16, 'name': 'Jarvis', 'age': 25, 'username': 'jarvis', 'password': '123456'}
{'id': 17, 'name': 'Jarvis', 'age': 25, 'username': 'jarvis', 'password': '123456'}

In [19]:
import random
with connection.cursor() as cursor:
    sql = """
        INSERT INTO users (name, age, username, password)
        VALUES (%s, %s, %s, %s);
    """
    for i in range(10):
        # 隨機生成使用者名稱、年齡和密碼
        user = f'user_{i}'
        username = f'user_{i}'
        age = random.randint(18, 65)
        password = f'password_{random.randint(1000, 10000)}'
        cursor.execute(sql, (user, age, username, password))
    
    connection.commit()

In [34]:
with connection.cursor() as cursor:
    # 查詢所有使用者
    sql = "SELECT * FROM users;"
    cursor.execute(sql)
    result = cursor.fetchall()
    for row in result:
        print(row)

{'id': 1, 'name': 'John Doe', 'age': 30, 'username': 'test_user', 'password': 'test_password'}
{'id': 2, 'name': 'user_0', 'age': 35, 'username': 'user_0', 'password': 'password_4694'}
{'id': 3, 'name': 'user_1', 'age': 57, 'username': 'user_1', 'password': 'password_2948'}
{'id': 4, 'name': 'user_2', 'age': 31, 'username': 'user_2', 'password': 'password_2575'}
{'id': 5, 'name': 'user_3', 'age': 22, 'username': 'user_3', 'password': 'password_5223'}
{'id': 6, 'name': 'user_4', 'age': 48, 'username': 'user_4', 'password': 'password_5346'}
{'id': 7, 'name': 'user_5', 'age': 61, 'username': 'user_5', 'password': 'password_3819'}
{'id': 8, 'name': 'user_6', 'age': 29, 'username': 'user_6', 'password': 'password_7253'}
{'id': 9, 'name': 'user_7', 'age': 21, 'username': 'user_7', 'password': 'password_4425'}
{'id': 10, 'name': 'user_8', 'age': 63, 'username': 'user_8', 'password': 'password_5378'}
{'id': 11, 'name': 'user_9', 'age': 29, 'username': 'user_9', 'password': 'password_8620'}
{'id': 16, 'name': 'Jarvis', 'age': 25, 'username': 'jarvis', 'password': '123456'}

In [3]:
# 使用 SQL Injection 攻擊，取得所有使用者的資料
username = "' OR 1=1; -- "
password = ""

with connection.cursor() as cursor:
    sql = f"""
        SELECT * FROM users WHERE username = '{username}' AND password = '{password}'
    """
    print(sql)
    cursor.execute(sql)
    result = cursor.fetchall()
print(result)

        SELECT * FROM users WHERE username = '' OR 1=1; -- ' AND password = ''

OperationalError: (2006, "MySQL server has gone away (ConnectionAbortedError(10053, '連線已被您主機上的軟體中止。', None, 10053, None))")

In [26]:
# 使用 SQL Injection 攻擊，取得所有使用者的資料
username = "' OR 1=1; -- "
password = ""

with connection.cursor() as cursor:
    sql = """
        SELECT * FROM users WHERE username = %s AND password = %s
    """
    print(sql)
    cursor.execute(sql, (username, password))
    result = cursor.fetchall()
print(result)

        SELECT * FROM users WHERE username = %s AND password = %s

()